.sidebar-header {
  .brand {
    color: #fff;
    text-align: left;
    padding-left: 25px;
    line-height: $header-height;
    font-size: 13px;

    @include media-down(sm) {
      line-height: $header-height-xs;
      font-size: 13px;
    }
  }
}